/* Proceso.css */
#proceso {
    text-align: center;
    
  }
  .process-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
  }
  
.tituloProceso{
    display: flex;
    align-items: center;  /* Centra verticalmente los h1 */
    justify-content: center; /* Centra horizontalmente los h1 */
    padding-bottom: 10px;
}
.tituloProceso h1:nth-child(2){
    color: #389eff;
    padding-left: 10px;
}
  
  .step {
    position: absolute;
    width: 100px; 
    height: 100px; 
    
  }
  
  /*  pasos alrededor del círculo */
 
  .step:nth-child(1) { top: 20%; left: -80%; }
  .step:nth-child(2) { top: 80%; left: -80%; }
  .step:nth-child(3) { top: 120%; right: 120%; }

  .step:nth-child(4) { top: 20%; left: 120%; }
  .step:nth-child(5) { top: 80%; left: 120%; }
  .step:nth-child(6) { top: 120%; right: -20%; }

  .process-circle {
    width: 100%; /* Tamaño del círculo */
    height: 100%; /* Tamaño del círculo */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .rotating {
    animation: spin 10s linear infinite;
    width: 100%;
    height: auto;
  }
  

  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  